.header {
  display: flex;
  postion: fixed;
  border-bottom: 1px black;
  width: 100%;
}

.logo {

}

.nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: flex-end;
}
