.header {
  display: flex;
  postion: fixed;
  border-bottom: black solid 1px;
  width: 100%;
}

.logo {
  padding-bottom: 2px;
}

#logoTitle {
  color: MediumAquamarine;
  padding-left: 10px;
}

#navItem {
  padding: 0px 5px;
  align-items: flex-end;
}

#nav {
  margin-left: 100px;
  margin-right: 10px;
}

.mainContainer {
  display: flex;
}

.largeContainer {
  align-items: flex-start;
}

.mediumContainer {
  align-items: center;
}

.smallContainer {
  align-items: flex-end;
}

#fall {
  background-image: image("./resources/images/fallSeason.png");
  color: white;
}

#hipster {
  background-image: image("./resources/images/hipster.png");
  color: white;
}

#cat {
  background-image: image("./resources/images/hipster.png");
  color: white;
}
