.header {
  display: flex;
  postion: fixed;
  border-bottom: 1px black;
  width: 100%;
}

#logoTitle {
  color: MediumAquamarine;
  padding-left: 5px;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.mainContainer {
  display: flex;
}

.largeContainer {
  align-items: flex-start;
}

.mediumContainer {
  align-items: center;
}

.smallContainer {
  align-items: flex-end;
}

.fall {
  background-image: image(./resources/images/fallSeason.png);
}

.hipster {
  background-image: image(./resources/images/hipster.png);
}

.cat {
  background-image: image(./resources/images/hipster.png);
}
